/* FONTS */
@font-face {
  font-family: NimbusSanL Bol;
  src: url(fonts/NimbusSanL-Bol.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: NimbusSanL Bolita;
  src: url(fonts/NimbusSanL-BolIta.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: NimbusSan D-OT;
  src: url(fonts/Nimbus-Sans-D-OT-Bold-Extended_32745.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: NimbusSanL Reg;
  src: url(fonts/NimbusSanL-Reg.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: NimbusSanL Regita;
  src: url(fonts/NimbusSanL-RegIta.otf) format('opentype');
  font-display: swap;
}

/* semantic color variables for this project */
:root {
  --color-background--beige: #fbf0dd;
  --color-background--black: #1d1d1b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  background-color: var(--color-background--beige);
  font-family: NimbusSanL Bol, sans-serif;
  font-size: 15px;

  #app {
    max-width: 1600px;
    margin: auto;
  }
}

body, html{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}

/* TRANSITIONS */

.zoom-enter-active,
.zoom-leave-active {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: zoom;
}

.zoom-leave-active {
  animation-direction: reverse;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

/* HEADER */
#nav {
  padding: 4em 6em 0 6em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1em;
  position: fixed;
  background-color: var(--color-background--beige);
  z-index: 3;

  #nav-home-button {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 0.5em;

    img, span {
      justify-self: center;
      align-self: center;
    }

    span {
      font-weight: bold;
      font-size: 18px;
    }
  }

  a {
    text-decoration: none;
    color: black;
    justify-self: center;
    align-self: center;

    .icon-header-bob, .icon-experiences {
      width: 3rem;
      height: 3rem;
    }

    .icon-visual-universe {
      width: 4.5rem;
      height: 4.5rem;
    }
  }
}

/* CONTENT */

#content {
  padding: 10em 8em 2em 8em;
}

@media (max-width: 1300px) {
  #nav {
    grid-template-columns: repeat(6, 1fr);
  }

  #content {
    padding: 12em 8em 2em 8em;
  }
}

@media (max-width: 1080px) {
  #nav {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  #nav {
    padding: 4em 2em 0 2em;
    grid-template-columns: 1.5fr 1fr 1fr;

    #nav-home-button {
      span {
        font-size: 16px;
      }
    }
  }

  #content {
    padding: 12em 4em 2em 4em;
  }
}
