#home-preview-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12em;

  .boxes {
    position: relative;

    .box-style {
      border: 5px solid var(--color-background--black);
      background-color: var(--color-background--beige);
      overflow: hidden;
      z-index: 1;

      &.box-visual-universe {
        border-radius: 5em;

        .logo-boxes {
          width: 60%;
        }
      }

      &.box-experiences {
        border-radius: 10em;

        .logo-boxes {
          width: 60%;
          padding: 2.5em 0;
        }
      }

      .box-title {
        background-color: var(--color-background--black);
        color: var(--color-background--beige);
        text-align: center;
        padding: 1em;
        font-size: 18px;
        font-family: NimbusSan D-OT, sans-serif;
      }

      .box-content {
        padding: 2em 3em;
        text-align: center;
      }
    }

    .box-offbeat-visual-universe, .box-offbeat-experiences {
      position: absolute;
      border: 5px solid var(--color-background--black);
      width: 100%;
      z-index: 0;
    }

    .box-offbeat-visual-universe {
      top: 1.5em;
      left: -1em;
      height: 105%;
      border-radius: 5em;
    }

    .box-offbeat-experiences {
      top: 2em;
      left: 0;
      height: 102.5%;
      border-radius: 9em;
    }

    .box-button {
      display: block;
      border-radius: 3em;
      border: 5px solid var(--color-background--black);
      padding: 1em;
      text-align: center;
      text-decoration: unset;
      color: var(--color-background--black);
      width: 12em;
      margin: auto;

      &:hover {
        background-color: var(--color-background--black);
        color: var(--color-background--beige);
      }
    }
  }
}

#waves {
  right: -48em;
  top: 6em;
  width: 46em;
}

@media (max-width: 1300px) {
  #home-preview-boxes {
    grid-template-columns: unset !important;
    grid-gap: 6em;
  }

  #waves {
    right: -30em;
  }
}

@media (max-width: 1080px) {
  #waves {
    right: -15em;
  }
}

@media (max-width: 800px) {
  #waves {
    right: 0;
  }
}
